#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600px;
  color: #088170;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #1a1a1a;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #1a1a1a;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}
.logo {
  width: 80px;
}
#hero {
  background-image: url("image/Fashion.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0%;
  padding: 10px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h1 {
  color: #088170;
}
#hero button {
  background-color: #088170;
  border-radius: 5px;
}
.section-p1 {
  padding: 40px 80px;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fe-box {
  width: 200px;
  height: 300px;
  padding: 25px 15px;
  text-align: center;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7de;
  border-radius: 4px;
  margin: 15px 0;
}
.fe-box :hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
.fe-box image {
  width: 100px;
  margin-bottom: 10px;
}

.fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  border-radius: 4px;
  line-height: 1;
  color: #088170;
  background-color: #1a1a1a;
}
.fe-box:nth-child(2) h6 {
  background-color: #cce7de;
}
.fe-box:nth-child(3) h6 {
  background-color: #f6dbf6;
}
.fe-box:nth-child(4) h6 {
  background-color: #d1d1d1;
}
#product1 {
  text-align: center;
}
.pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
.pro {
  width: 23px;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #e3e6f3;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
.pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.pro img {
  width: 100%;
  border-radius: 20px;
}
.pro .des {
  text-align: start;
  padding: 2px 0;
}
.pro .des span {
  color: #606063;
  font-size: 12px;
}
.pro .des h5 {
  color: #1a1a1a;
  font-size: 14px;
}
.pro .des i {
  color: rgb(246, 255, 0);
  font-size: 12px;
}
.pro .des h4 {
  color: #088170;
  font-weight: 700;
  font-size: 15px;
}
.pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #606063;
  font-weight: 500;
  color: #088170;
  border: 1px solid #f6dbf6;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.section-m1 {
  margin: 40px 0;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("image/polo8.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h2 {
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: #fff;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  margin-bottom: 10px;
  color: #1a1a1a;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.02s ease;
}

#banner button:hover {
  background-color: #088170;
  color: #fff;
}
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("image/p9.png");
  min-width: 580px;
  height: 70vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner h4 {
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
#sm-banner h2 {
  font-size: 28px;
  font-weight: 800;
  color: #088170;
}
#sm-banner span {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  padding-bottom: 15px;
}
button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  margin-bottom: 10px;
  color: #1a1a1a;
  background-color: transparent;
  border: 1px solid #1a1a1a;
  cursor: pointer;
  outline: none;
  transition: 0.02s ease;
}
.banner-box:hover button {
  background-color: #088170;
  border: 1px solid #088170;
}
.banner-box2 {
  background-image: url("image/p10.png");
}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px;
}
.banner-p1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("image/p13.jpg");
  min-width: 25%;
  height: 35vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 25px;
}
#banner3 h2 {
  color: #212328;
  font-size: 22px;
  font-weight: 900;
}
#banner3 h3 {
  color: #8a2727;
  font-size: 15px;
  font-weight: 800;
}
.banner-p2 {
  background-image: url("image/p12.jpg");
}
.banner-p3 {
  background-image: url("image/p11.jpg");
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("image/polo8.jpg");
}
.New {
  padding: 20px 40px;
  margin: 30px 0;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #464040;
}
#newsletter p span {
  color: #ac1223;
}
#newsletter input {
  height: 3.025rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #088170;
  color: #fff;
  white-space: nowrap;
}
.form {
  display: flex;
  width: 40%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0, 0, 8px, 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
.follow i {
  color: #162161;
  padding-right: 10px;
  cursor: pointer;
}
.follow i:hover,
footer a:hover {
  color: #088170;
}
.copyright {
  width: 100%;
  text-align: center;
}
@media (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #cce7de;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #0f6a1dcf;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #la-bag {
    display: none;
  }
  #hero {
    height: 70vh;
    padding: 10px 80px;
    background-position: top 30% right 30%;
  }
  #feature {
    justify-content: center;
  }
  .fe-box {
    margin: 15px 15px;
  }
  .pro-container {
    justify-content: center;
  }
  .pro {
    margin: 10px;
  }
  #banner {
    height: 25vh;
  }
  .banner-box {
    min-width: 100%;
    height: 30vh;
  }
  #banner3 {
    padding: 0 40px;
  }
  .banner-p1 {
    width: 20%;
  }
  .form {
    width: 70%;
  }
  /* contact page */
  .New {
    padding: 20px 20px;
  }
  #header {
    padding: 20px 60px 15px 20px;
  }
  #form-details {
    padding: 40px;
  }
  #header {
    padding: 0;
  }
}

@media (max-width: 477px) {
  #header {
    padding: 10px 80px 10px 40px;
  }
  #hero {
    height: 70vh;
    padding: 0px 20px;
    background-position: 55%;
  }
  h4 {
    font-size: 20px;
  }
  h2 {
    font-weight: 700;
  }
  #hero h1 {
    font-size: 30px;
  }
  p {
    font-size: 17px;
  }
  #feature {
    padding: 15px;
  }
  .fe-box {
    width: 140px;
    margin: 0 0 15px 0;
  }
  #feature {
    justify-content: space-between;
  }
  .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  .banner-box {
    height: 40vh;
  }
  .banner-box2 {
    margin-top: 20px;
  }
  #banner3 {
    padding: 0 20px;
  }
  .banner-p1 {
    width: 100%;
  }
  #newsletter {
    padding: 20px 45px;
  }
  .form {
    width: 100%;
  }
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  .single-pro-details {
    width: 100%;
  }
  /* about page */
  #about-head {
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
  }
  #about-head div {
    padding-left: 0px;
  }
  #about-app video {
    border-radius: 20px;
    margin-top: 20px;
    height: 60%;
    width: 100%;
  }
  #contact-details {
    flex-direction: column;
  }
  .details {
    width: 100%;
  }
  #cart-add {
    flex-direction: column;
  }
  #coupon {
    width: 100%;
  }

  #Subtotal {
    width: 100%;
  }
}

#page-header {
  background-image: url("image/polo8.jpg");
  width: 100%;
  height: 20vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h2 {
  font-size: 40px;
  font-weight: 700;
}
#page-header p {
  font-size: 20px;
}
#page-header h2,
#page-header p {
  color: #fff;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #088170;
  padding: 15px 20px;
  font-weight: 600;
  color: #fff;
  border-radius: 4px;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}
#prodetails {
  display: flex;
  margin-top: 20px;
}
.single-pro-image {
  width: 40%;
  margin-right: 50px;
}
.small-imag-group {
  display: flex;
  justify-content: space-between;
}
.small-imag-col {
  flex-basis: 24%;
  cursor: pointer;
}
.single-pro-details {
  width: 50%;
  padding-top: 30px;
}
.single-pro-details h2,
.single-pro-details h4 {
  font-size: 26px;
}
.single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}
.single-pro-details input:focus {
  outline: none;
}
.single-pro-details button {
  background-color: #088170;
  color: #fff;
}
.single-pro-details span {
  line-height: 25px;
}

#header {
  padding: 20px 80px 20px 20px;
}
.blog-header p {
  margin-top: 10px;
  margin-bottom: 40px;
}
#blog {
  padding: 50px 20px 0 20px;
}
.blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
.blog-imag {
  width: 50%;
  margin-top: 40px;
}
#blog img {
  width: 80%;
  height: 400px;
  object-fit: cover;
}
.blog-details {
  width: 50%;
}
.blog-details a {
  text-decoration: none;
  color: #000;
  font-size: 11px;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}
.blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}
.blog-details a:hover {
  color: #088170;
}
.blog-details a :hover::after {
  background-color: #088170;
}
.blog-box h1 {
  position: absolute;
  top: -75px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #606063;
  z-index: -9;
}
#about-head {
  display: flex;
  align-items: center;
}
#about-head img {
  width: 50%;
  height: 400px;
}
#about-head div {
  padding-left: 40px;
}
#about-app {
  text-align: center;
}
#about-app video {
  border-radius: 20px;
  margin-top: 20px;
  height: 60%;
  width: 60%;
}
#contact-details {
  display: flex;
  align-items: center;
  justify-content: center;
}
.details {
  width: 40%;
}
.details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
.details span,
#form-details form span {
  font-size: 12px;
}
.details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
.details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
.details li i {
  font-size: 14px;
  padding-right: 22px;
}
.details li p {
  font-size: 14px;
}
.map {
  width: 55%;
  height: 400px;
}
.map iframe {
  width: 100%;
  height: 100%;
}
#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}
#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form-details form button {
  background-color: #088170;
  color: #fff;
}
.people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
.people div img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
.people div p {
  margin: 0px;
  font-size: 13px;
  line-height: 25px;
}
.people div p span {
  font-size: 16px;
  display: block;
  font-weight: 600;
  color: #000;
}
#cart {
  overflow-x: auto;
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  table-layout: fixed;
}
#cart table img {
  width: 70px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 50px;
  padding: 10px 5px 10px 15px;
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table td {
  font-weight: 700;
  font-size: 13px;
  padding: 18px 0;
  text-transform: uppercase;
}
#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}
#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon {
  width: 50%;
  margin-bottom: 30px;
}
#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon button,
#Subtotal button {
  background-color: #088170;
  color: #fff;
  padding: 12px 20px;
}
#Subtotal {
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #e2e9e1;
  padding: 20px;
}
#Subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#Subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}
